### Data Wrangling-La cirugía de los datos
EL data wragling, a veces denomina data munging, es el proceso de transformar y mapear los datos de un dataset raw(en bruto)
en otro formato con la intension de hacerlo más apropiado y valioso para una variedad de propositos, como el analisis,Un data wrangler 
es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualizacion de datos, agregacion de datos, entrenamiento de un modelo estadistico, asi como 
muchos otros potenciales. La ocilacion de datos como un proceso generalmente sigue un conjunto de pasos que comienzan extrayendo los datos
en forma cruda del origen de datos, en bruto usando algoritmos(por ejemplo, clasificacion) o analizando los datos en estructuras de datos predefinidas y finalmente depositarlo
el contenido resultante en un sitio de almacenamiento(o sitio) para su uso futuro.

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("./datasets/customer-churn-model/Customer Churn Model.txt")

In [3]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Crear un sub conjunto de datos

In [4]:
#Extraer sub conjunto del data set en forma de datos
#Objeto de tipo series 
account_length=data["Account Length"]

In [5]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [6]:
type(account_length)

pandas.core.series.Series

In [7]:
subset=data[["Account Length","Phone","Eve Charge","Day Calls"]]

In [8]:
subset.head()
#Una sola columna es un

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [9]:
type(subset)
#Mas de una columna es un dataframe

pandas.core.frame.DataFrame

In [10]:
desired_columns=["Account Length","Phone","Eve Charge","Day Calls"]
subset=data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [ ]:
#Otras formas de seleccionar columnas

In [11]:
#Columnas deseadas
desired_columns=["Accound Length","VMain Message","Day Calls"]
desired_columns

['Accound Length', 'VMain Message', 'Day Calls']

In [57]:
#Todas las columnas
all_columns_list=data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [59]:
#sub lista con comprementario
sublist=[x for x in all_columns_list if x not in desired_columns]
len(sublist)

20

In [53]:
sublist=list(set(all_columns_list)-set(no_desired_columns))
sublist

['Intl Charge',
 'Night Mins',
 'CustServ Calls',
 'Eve Charge',
 'VMail Message',
 'Night Charge',
 'Churn?',
 'State',
 'Eve Calls',
 'Day Charge',
 'Intl Mins',
 'VMail Plan',
 'Account Length',
 'Night Calls',
 'Eve Mins',
 'Intl Calls',
 'Phone',
 'Area Code',
 "Int'l Plan",
 'Day Mins']